body { background: #66d523; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 22px; display: flex; }
.block-filter-0 { color: #f97a39; font-size: 12px; margin-bottom: 5px; }
.block-database-1 { color: #e2575a; font-size: 21px; margin-bottom: 5px; }
.block-database-2 { color: #e09a61; font-size: 21px; margin-bottom: 5px; }
.block-uploader-3 { color: #9961d6; font-size: 13px; margin-bottom: 5px; }
.block-token-4 { color: #f1b812; font-size: 13px; margin-bottom: 5px; }
.block-config-5 { color: #7596b5; font-size: 15px; margin-bottom: 5px; }
.block-order-6 { color: #d5cbc0; font-size: 17px; margin-bottom: 5px; }
.block-product-7 { color: #e222bb; font-size: 18px; margin-bottom: 5px; }
.block-token-8 { color: #d7741f; font-size: 19px; margin-bottom: 5px; }